
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import "node_modules/font-awesome/scss/font-awesome.scss";                                                                                  // Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Varela Round', sans-serif;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#product-section {
  border-right: 1px solid gray;
}